/*Removing background color of autofill input fields*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/*---------------------------------------------------------------------*/
/*Changes the Color of Required Astrik*/
::ng-deep .mat-form-field-required-marker {
  color: aliceblue
}

/*--------------------------------------------------------------------------*/
mat-card.mat-card.mat-focus-indicator {
  background: linear-gradient(#3f51b500, #35b7ce00);
  // margin-top: 20px;
  border-radius: 10px;
  border: none;
}

mat-label.ng-tns-c179-0.ng-star-inserted {
  color: aliceblue;
}

mat-label {
  color: aliceblue;
}

mat-form-field {
  width: 300px;
  display: block;
}

mat-form-field:required {
  color: aliceblue;
}

mat-icon {
  color: #f0f8ff;
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  animation: cdk-text-field-autofill-end 0s 1ms;
  color: aliceblue;
}

@media screen and (max-width: 500px) {
  mat-form-field {
    width: 100%;
  }
}
