<div class="container">
  <mat-card>
    <div class="example-container">
      <form  [formGroup]="resetForm" autocomplete="off ">
        <mat-form-field appearance="fill">
          <mat-label>Enter your forgotten_password_code</mat-label>
          <input matInput placeholder="741852" formControlName="forgotten_password_code" required class="input" autocomplete="false" name="hidden">
          <mat-error *ngIf="resetF['forgotten_password_code'].invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
        <mat-label>Enter your new password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="admin@123" formControlName="newPassword" required class="input" autocomplete="false" name="hidden">
        <mat-error *ngIf="resetF['newPassword'].invalid">{{getErrorMessage()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Conform Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="admin@123" formControlName="confPassword" required class="input">
        <mat-error *ngIf="resetF['confPassword'].invalid">{{getErrorMessage()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field><br>
        <button mat-raised-button color="primary" (click)="onSubmit()" class="mb-3">Reset</button>
        <button mat-raised-button color="warn" routerLink="/forgot-password" style="margin-left: 10px;">Back</button>
      </form>
    </div>
  </mat-card>
</div>