<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
  </button>
  <span>Admin Pannel</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    routerLink="/register" matTooltip="Register Page">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()"
    matTooltip="Logout">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<!-- <app-login></app-login> -->
<div class="look">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
