  .look{
    // background: url(d25w0pz-7c81c8c0-17e5-4de3-94b4-e6e7bac5c043.jpg); */
    /* opacity: 0.8; */
    background: linear-gradient(180deg, #9ce3ff, #0879a4);
    background-repeat: repeat;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-size: auto; */
    /* height: -webkit-fill-available;*/
  }



