<!-- <p>forgot-password works!</p> -->
<div class="container">
    <mat-card>
      <mat-card-title>Forgot Password</mat-card-title>
      <div class="example-container">
        <form  [formGroup]="forgetForm">
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required class="input">
            <mat-error *ngIf="forgetF['email'].invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field><br>
          <button mat-raised-button color="primary" (click)="onSubmit()" class="mb-3">Submit</button>
          <button mat-raised-button color="warn" routerLink="/login">Back</button>
        </form>
      </div>
    </mat-card>
  </div>