/*Removing background color of autofill input fields*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/*---------------------------------------------------------------------*/
/*Changes the Color of Required Astrik*/
::ng-deep .mat-form-field-required-marker {
  color: aliceblue
}

/*--------------------------------------------------------------------------*/
button.mat-focus-indicator.mb-3.mat-raised-button.mat-button-base.mat-primary {
  margin-right: 10px;
}

.mat-card.mat-card.mat-focus-indicator {
  // margin-top: 20px;
  // background: radial-gradient(#a4b2ff, #f4433636);
  background: linear-gradient(#3f51b500, #35b7ce00);
}

.mat-form-field {
  width: 100%;
}

.mat-form-field-label {
  color: aliceblue;
}

.mat-form-field-appearance-fill .mat-form-field-label {
  top: 1.09375em;
  color: aliceblue;
  margin-top: -0.5em;
}

mat-card-title {
  color: aliceblue;
  text-align: center;
  font-size: xx-large;
  font-family: serif;
  padding: 20px;
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  animation: cdk-text-field-autofill-end 0s 1ms;
  color: aliceblue;
}
